<div class="container">
  <div class="row m-b-lg">
    <div class="col-lg-12 text-center" id="i18_publications">
      <div class="navy-line"></div>
      <h1><span data-i18n="publications.my_publications">My Publications</span></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 text-center"></div>
    <!-- <div class="col-lg-12 text-center"> -->
    <div class="col-lg-2 text-center">
      <p><a href="https://scholar.google.com/citations?user=70jzq04AAAAJ&hl=en"><i class="fa fa-graduation-cap fa-3x"></i></a></p>
      <p><a href="https://scholar.google.com/citations?user=70jzq04AAAAJ&hl=en">Google Scholar</i></a></p>
    </div>

    <div class="col-lg-2 text-center">
      <p><a href="https://www.researcherid.com/rid/C-1429-2011"><i class="fa fa-vcard fa-3x"></i></a></p>
      <p><a href="https://www.researcherid.com/rid/C-1429-2011">Researcher ID</i></a></p>
    </div>

    <!--
    <div class="col-lg-2 text-center">
      <p><a href="https://soumyajyotih.github.io/presentations/"><i class="fa fa-file-powerpoint-o fa-3x"></i></a></p>
      <p><a href="https://soumyajyotih.github.io/presentations/">Talks</i></a></p>
    </div>
    -->
    <div class="col-lg-4 text-center"></div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">

      <h1>2019</h1>
      <ul style="list-style-type: none">

        <li class="entry">
          <h2><strong>Preparation and electronic properties of clean superconducting Nb(110) surfaces</strong></h2>
          A. B. Odobesko, <em>S. Haldar</em>, S. Wilfert, J. Hagen, J. Jung, N. Schmidt, P. Sessi, M. Vogt, S. Heinze, and M. Bode<br />
          Physical Review B <b>--</b>, -- (2019)
          <a href="https://dx.doi.org/10.1103/PhysRevB.--.--">[Link]</a>
        </li>

        <li class="entry">
          <h2><strong>Skyrmion lifetime in ultrathin films</strong></h2>
          S. von Malottki, P. F. Bessarab, <em>S. Haldar</em>, A. Delin, and S. Heinze<br />
          Physical Review B (<em>Rapid Communications</em>) <b>99</b>, 060409(R) (2019)
          <a href="https://dx.doi.org/10.1103/PhysRevB.99.060409">[Link]</a>
        </li>

      </ul>

      <h1>2018</h1>
      <ul style="list-style-type: none">

        <li class="entry">
          <h2><strong>Noncollinear spin density of an adatom on a magnetic surface</strong></h2>
          <em>S. Haldar</em> and S. Heinze<br />
          Physical Review B (<em>Rapid Communications</em>) <b>98</b>, 220401(R) (2018)
          <a href="https://dx.doi.org/10.1103/PhysRevB.98.220401">[Link]</a>
        </li>

        <li class="entry">
          <h2><strong>Comparative study of electronic and magnetic properties of iron and cobalt phthalocyanine molecules physisorbed on two-dimensional MoS<sub>2</sub> and graphene</strong></h2>
          <em>S. Haldar</em>, S. Bhandary, H. Vovusha, and B. Sanyal<br />
          Physical Review B <b>98</b>, 085440 (2018)
          <a href="https://dx.doi.org/10.1103/PhysRevB.98.085440">[Link]</a>
        </li>

        <li class="entry">
          <h2><strong>First-principles prediction of sub-10-nm skyrmions in Pd/Fe bilayers on Rh(111)</strong></h2>
          <em>S. Haldar</em>, S. von Malottki, S. Meyer, P. F. Bessarab, and S. Heinze<br />
          Physical Review B (<em>Rapid Communications</em>) <b>98</b>, 060413(R) (2018)
          <a href="https://dx.doi.org/10.1103/PhysRevB.98.060413">[Link]</a>
        </li>

        <li class="entry">
          <h2><strong>Suppression of the Verwey Transition by Charge Trapping</strong></h2>
          C. Antoniak, D. Schmitz, A. Warland, M. Darbandi, <em>S. Haldar</em>, S. Bhandary, B. Sanyal, O. Eriksson, and H. Wende<br />
          Annalen der Physik <b>530</b>, 1700363 (2018)
          <a href="https://dx.doi.org/10.1002/andp.201700363">[Link]</a>
        </li>

      </ul>

      <h1>2016</h1>
      <ul style="list-style-type: none">

        <li class="entry">
          <h2><strong>Metal-Free Photochemical Silylations and Transfer Hydrogenations of Benzene, Polycyclic Aromatic Hydrocarbons and Graphene</strong></h2>
          R. Papadakis , H. Li, J. Bergman, A. Lundstedt, K. Jorner, R. Ayub, <em>S. Haldar</em>, B. Jahn, A. Denisova, B. Zietz, R. Lindh, B. Sanyal, H. Grennberg, K. Leifer, and H. Ottosson<br />
          Nature Communications <b>7</b>, 12962 (2016)
          <a href="https://dx.doi.org/10.1038/ncomms12962">[Link]</a>
        </li>

        <li class="entry">
          <h2><strong>Influence of Electron Correlation on the Electronic Structure and Magnetism of Transition-Metal Phthalocyanines</strong></h2>
          I. E. Brumboiu, <em>S. Haldar</em>, J. L&uuml;der, O. Eriksson, H. C. Herper, B. Brena, and B. Sanyal<br />
          Journal of Chemical Theory and Computations <b>12</b>, 1772 (2016)
          <a href="https://dx.doi.org/10.1021/acs.jctc.6b00091">[Link]</a>
        </li>

        <li class="entry">
          <h2><strong>Site-selective local fluorination of graphene induced by focused ion beam irradiation</strong></h2>
          H. Li, L. Daukiya, <em>S. Haldar</em>, A. Lindblad, B. Sanyal, O. Eriksson, D. Aubel, S. Hajjar-Garreau, L. Simon, K. Leifer<br />
          Scientific reports <b>6</b>, 19719 (2016)
          <a href="https://dx.doi.org/10.1038/srep19719">[Link]</a>
        </li>

        <li class="entry">
          <h2><strong>Energetic stability, STM fingerprints and electronic transport properties of defects in graphene and silicene</strong></h2>
          <em>S. Haldar</em>, R. G. Amorim, B. Sanyal, R. H. Scheicher, and A. R. Rocha<br />
          RSC Advances <b>6</b>, 6702 (2016)
          <a href="https://dx.doi.org/10.1039/C5RA23052G">[Link]</a>
        </li>

      </ul>

      <h1>2015</h1>
      <ul style="list-style-type: none">

        <li class="entry">
          <h2><strong>Systematic study of structural, electronic, and optical properties of atomic-scale defects in the two-dimensional transition metal dichalcogenides <em>MX</em><sub>2</sub> (<em>M</em> = Mo, W; <em>X</em> = S, Se, Te)</strong></h2>
          <em>S. Haldar</em>, H. Vovusha, M. K. Yadav, O. Eriksson, and B. Sanyal<br />
          Physical Review B <b>92</b>, 235408 (2015)
          <a href="https://dx.doi.org/10.1103/PhysRevB.92.235408">[Link]</a>
        </li>

      </ul>

      <h1>2014</h1>
      <ul style="list-style-type: none">

        <li class="entry">
          <h2><strong>The dipole moment of the spin density as a local indicator for phase transitions</strong></h2>
          D. Schmitz, C. Schmitz-Antoniak, A. Warland, M. Darbandi, <em>S. Haldar</em>, S. Bhandary, O. Eriksson, B. Sanyal, and H. Wende<br />
          Scientific Reports <b>4</b>, 5760 (2014)
          <a href="https://dx.doi.org/10.1038/srep05760">[Link]</a>
        </li>

        <li class="entry">
          <h2><strong>A real-space study of random extended defects in solids: Application to disordered Stone–Wales defects in graphene</strong></h2>
          S. Chowdhury, S. Baidya, D. Nafday, <em>S. Halder</em>, M. Kabir, B. Sanyal, T. Saha-Dasgupta, D. Jana, and A. Mookerjee<br />
          Physica E <b>61</b>, 191 (2014)
          <a href="https://dx.doi.org/10.1016/j.physe.2014.04.002">[Link]</a>
        </li>

        <li class="entry">
          <h2><strong>Fe<sub>n</sub> (n = 1 - 6) clusters chemisorbed on vacancy defects in graphene: Stability, spin-dipole moment, and magnetic anisotropy</strong></h2>
          <em>S. Haldar</em>, B. S. Pujari, S. Bhandary, F. Cossu, O. Eriksson, D. G. Kanhere, and B. Sanyal<br />
          Physical Review B <b>89</b>, 205411 (2014)
          <a href="https://dx.doi.org/10.1103/PhysRevB.89.205411">[Link]</a>
        </li>

      </ul>

      <h1>2013</h1>
      <ul style="list-style-type: none">

        <li class="entry">
          <h2><strong>Designing Fe Nanostructures at Graphene/h-BN Interfaces</strong></h2>
          <em>S. Haldar</em>, P. Srivastava, O. Eriksson, P. Sen, and B. Sanyal<br />
          Journal of Physical Chemistry C <b>117</b>, 21763 (2013)
          <a href="https://dx.doi.org/10.1021/jp405346r">[Link]</a>
        </li>

      </ul>

      <h1>2012</h1>
      <ul style="list-style-type: none">

        <li class="entry">
          <h2><strong>Improved gas sensing activity in structurally defected bilayer graphene</strong></h2>
          Y. Hajati, T. Blom, S. H. M. Jafri, <em>S. Haldar</em>, S. Bhandary, M. Z. Shoushtari, O. Eriksson, B. Sanyal, and K. Leifer<br />
          Nanotechnology <b>23</b>, 505501 (2012)
          <a href="https://dx.doi.org/10.1088/0957-4484/23/50/505501">[Link]</a>
        </li>

        <li class="entry">
          <h2><strong>Functionalization of edge reconstructed graphene nanoribbons by H and Fe: A density functional study</strong></h2>
          <em>S. Haldar</em>, S. Bhandary, S. Bhattacharjee, O. Eriksson, D. G. Kanhere, and B. Sanyal<br />
          Solid State Communications <b>152</b>, 1719 (2012)
          <a href="https://dx.doi.org/10.1016/j.ssc.2012.06.028">[Link]</a>
        </li>

        <li class="entry">
          <h2><strong>Magnetic impurities in graphane with dehydrogenated channels</strong></h2>
          <em>S. Haldar</em>, D. G. Kanhere, and B. Sanyal<br />
          Physical Review B <b>85</b>, 155426 (2012)
          <a href="https://link.aps.org/doi/10.1103/PhysRevB.85.155426">[Link]</a>
        </li>

      </ul>

      <h1>2011</h1>
      <ul style="list-style-type: none">

        <li class="entry">
          <h2><strong>Metallic clusters on a model surface: Quantum versus geometric effects</strong></h2>
          S. A. Blundell, <em>S. Haldar</em>, and D. G. Kanhere<br />
          Physical Review B <b>84</b>, 075430 (2011)
          <a href="https://link.aps.org/doi/10.1103/PhysRevB.84.075430">[Link]</a>
        </li>

      </ul>

      <h1>2010</h1>
      <ul style="list-style-type: none">

        <li class="entry">
          <h2><strong>A systematic study of electronic structure from Graphene to Graphane</strong></h2>
          P. Chandrachud, B. S. Pujari, <em>S Haldar</em>, B. Sanyal, and D. G. Kanhere<br />
          Journal of Physics: Condensed Matter <b>22</b>, 465502 (2010)
          <a href="https://dx.doi.org/10.1088/0953-8984/22/46/465502">[Link]</a>
        </li>

      </ul>

      <h1>Book Chapters</h1>
      <ul style="list-style-type: none">

        <li class="entry">
          <h2><strong>Defects in Graphene and its derivatives</strong>. In PK Nayak, Recent Advances in Graphene Research</h2>
          <em>S. Haldar</em> and B. Sanyal<br />
          InTech, 2016.
          <a href="https://www.intechopen.com/books/recent-advances-in-graphene-research/defects-in-graphene-and-its-derivatives">[Link]</a>
        </li>

        <li class="entry">
          <h2><strong><em>Ab Initio</em> Studies on the Hydrogenation at the Edges and Bulk of Graphene</strong>. In L. Ottaviano, V Morandi, GraphITA 2011: Selected papers from the Workshop on Fundamentals and Applications of Graphene</h2>
          <em>S. Haldar</em> , S. Bhandary, P. Chandrachud, B. S. Pujari, M. I. Katsnelson, O. Eriksson, D. Kanhere, and B. Sanyal<br />
          Springer Berlin Heidelberg, 2012.
          <a href="https://link.springer.com/chapter/10.1007/978-3-642-20644-3_25">[Link]</a>
        </li>

      </ul>

      <h1>Thesis</h1>
      <ul style="list-style-type: none">

        <li class="entry">
          <h2><strong>Influence of impurities and defects on the properties of 2D materials</strong></h2>
          <em>S. Haldar</em>
          Doctor of Philosophy (PhD) at Uppsala University, Sweden, 2016
          <a href="https://urn.kb.se/resolve?urn=urn:nbn:se:uu:diva-300970">[Thesis]</a>
        </li>


        <li class="entry">
          <h2><strong>Fe Adatoms on 2D Surfaces: Influence of Defects and Interfaces</strong></h2>
          <em>S. Haldar</em>
          Licentiate of Philosophy (LiC) at Uppsala University, Sweden, 2014
          <a href="https://www.dropbox.com/s/ol3tt2d5uufsnoy/LIC_Thesis_SH.pdf?dl=0">[Thesis]</a>
        </li>

        <li class="entry">
          <h2><strong>Simulation Studies of Defect in Semiconductor Clusters</strong></h2>
          <em>S. Haldar</em>
          Master in Science in Physics at University of Pune, 2009
          <a href="https://www.dropbox.com/s/kor6vx0dvjpczic/masters_thesis_SJH.pdf?dl=0">[Thesis]</a>
        </li>

      </ul>

    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
      <p><strong>&copy; {{ 'now' | date: "%Y" }} {{ site.title }}</strong></p>
    </div>
  </div>

</div>
