<div class="container">
  <div class="row m-b-lg">
    <div class="col-lg-12 text-center" id="i18_publications">
      <div class="navy-line"></div>
      <h1><span data-i18n="publications.my_publications">My Publications</span></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 text-center"></div>
    <div class="col-lg-2 text-center">
      <p><a href="https://scholar.google.com/citations?user=70jzq04AAAAJ&hl=en"><i class="fa fa-graduation-cap fa-3x"></i></a></p>
      <p><a href="https://scholar.google.com/citations?user=70jzq04AAAAJ&hl=en">Google Scholar</i></a></p>
    </div>
    <div class="col-lg-2 text-center">
      <p><a href="https://soumyajyotih.github.io/presentations/"><i class="fa fa-file-powerpoint-o fa-3x"></i></a></p>
      <p><a href="https://soumyajyotih.github.io/presentations/">Talks</i></a></p>
    </div>
    <div class="col-lg-4 text-center"></div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">

      <h1>2011</h1>
      <ul style="list-style-type: none">

        <li class="entry">
          <h2><strong>Metallic clusters on a model surface: Quantum versus geometric effects</strong></h2>
          S. A. Blundell, <em>S. Haldar</em>, and D. G. Kanhere<br />
          Physical Review B <b>84</b>, 075430 (2011)
          <a href="https://link.aps.org/doi/10.1103/PhysRevB.84.075430">[Link]</a>
        </li>

      </ul>

      <h1>2010</h1>
      <ul style="list-style-type: none">

        <li class="entry">
          <h2><strong>A systematic study of electronic structure from Graphene to Graphane</strong></h2>
          P. Chandrachud, B. S. Pujari, <em>S Haldar</em>, B. Sanyal, and D. G. Kanhere<br />
          Journal of Physics: Condensed Matter <b>22</b>, 465502 (2010)
          <a href="https://dx.doi.org/10.1088/0953-8984/22/46/465502">[Link]</a>
        </li>

      </ul>

      <h1>Book Chapters</h1>
      <ul style="list-style-type: none">

        <li class="entry">
          <h2><strong>Defects in Graphene and its derivatives</strong>. In PK Nayak, Recent Advances in Graphene Research</h2>
          <em>S. Haldar</em> and B. Sanyal<br />
          InTech, 2016.
          <a href="https://www.intechopen.com/books/recent-advances-in-graphene-research/defects-in-graphene-and-its-derivatives">[Link]</a>
        </li>

        <li class="entry">
          <h2><strong><em>Ab Initio</em> Studies on the Hydrogenation at the Edges and Bulk of Graphene</strong>. In L. Ottaviano, V Morandi, GraphITA 2011: Selected papers from the Workshop on Fundamentals and Applications of Graphene</h2>
          <em>S. Haldar</em> , S. Bhandary, P. Chandrachud, B. S. Pujari, M. I. Katsnelson, O. Eriksson, D. Kanhere, and B. Sanyal<br />
          Springer Berlin Heidelberg, 2012.
          <a href="https://link.springer.com/chapter/10.1007/978-3-642-20644-3_25">[Link]</a>
        </li>

      </ul>

      <h1>Thesis</h1>
      <ul style="list-style-type: none">

        <li class="entry">
          <h2><strong>Influence of impurities and defects on the properties of 2D materials</strong></h2>
          <em>S. Haldar</em>
          Doctor of Philosophy (PhD) at Uppsala University, Sweden, 2016
          <a href="https://urn.kb.se/resolve?urn=urn:nbn:se:uu:diva-300970">[Thesis]</a>
        </li>


        <li class="entry">
          <h2><strong>Fe Adatoms on 2D Surfaces: Influence of Defects and Interfaces</strong></h2>
          <em>S. Haldar</em>
          Licentiate of Philosophy (LiC) at Uppsala University, Sweden, 2014
          <a href="https://www.dropbox.com/s/ol3tt2d5uufsnoy/LIC_Thesis_SH.pdf?dl=0">[Thesis]</a>
        </li>

        <li class="entry">
          <h2><strong>Simulation Studies of Defect in Semiconductor Clusters</strong></h2>
          <em>S. Haldar</em>
          Master in Science in Physics at University of Pune, 2009
          <a href="https://www.dropbox.com/s/kor6vx0dvjpczic/masters_thesis_SJH.pdf?dl=0">[Thesis]</a>
        </li>

      </ul>

    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
      <p><strong>&copy; {{ 'now' | date: "%Y" }} {{ site.title }}</strong></p>
    </div>
  </div>

</div>
